<div>
    <!-- portfolio section -->
  <div id="info" style="margin-top: 60px">
    <div class="container">
      <div class="row">
        <div class="title">
          <h2>Коледж бізнесу та інформатики</h2>
          <hr>
          <p> – структурний підрозділ ПВНЗ «Галицька академія». Він дозволяє заздалегідь професійно орієнтувати молодих людей, надати їм початкову вищу освіту за освітньо-кваліфікаційним рівнем молодшого спеціаліста у галузі економіки, туризму та комп’ютерних наук.</p>
          <p>Випускникам навчального закладу забезпечено послідовне й безперервне здобуття повної вищої освіти. Успішне навчання у Коледжі надає можливість продовжити навчання в Галицькій академії з III курсу за профільною спеціальністю.
          Освіта в коледжі</p>
          <p>Викладачі Коледжу – фахівці вищої категорії зі значним досвідом роботи. Вони забезпечують найбільш сприятливі умови для здобуття вчорашніми школярами сучасної освіти у галузі туризму, комп’ютерної науки, економічної освіти. Усі педагоги ставляться до студентів Коледжу як до дорослих і, разом з тим виступають для них у якості друзів, добрих наставників.</p>
          <p>На старших курсах навчальний процес надзвичайно мобільний, ще більш інформаційно насичений, з поглибленим вивченням іноземних мов та комп’ютерних програм. Задля забезпечення виконання студентами своїх обов’язків та захисту їхніх прав у Коледжі організовано студентське самоврядування:прийнято Конституцію студентської республіки, Кодекс честі студента,працює механізм взаємодії парламенту з адміністрацією ВНЗ. Це сприяє гармонійному розвитку особистості, формуванню професійних умінь для майбутньої діяльності, вчить повазі, толерантності, взаємній підтримці, демократизму в стосунках, оцінці діяльності кожного за реальними результатами. Майбутні молоді спеціалісти мають змогу перевірити свої лідерські якості, пройти загартування студентством.</p>
          <p>У Коледжі створено чудовий мікроклімат не тільки для навчання, а й для активного відпочинку студентів-підлітків, які із задоволенням відвідують різноманітні гуртки, спортивні секції, проводять цікаві літературні вечірки, організовують різноманітні конкурси, екскурсії.</p>
          <hr>
          <p>Дорогі друзі! Якщо у вашому серці горить любов до української землі і Ви хочете працювати для її процвітання, обравши фах економіста, маркетолога, програміста, спеціаліста в галузі туризму, ми чекаємо на Вас!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- team section -->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3  col-sm-offset-2 col-sm-8 col-sm-offset-2 title">
          <h2>Адміністрація</h2>
          <h2>коледжу</h2>
          <hr>
          <p>головне командування коледжу. Вони вирішують кого сратити, а кого залишити в живих</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="0.9s">
          <img style="margin-bottom: -27px" src="images/yachenko.jpg" class="img-responsive img-width" alt="team img">
          <div class="team-des">
            <h4>Яченко Марія Михайлівна</h4>
            <h3 style="padding-top: 20px">Директор коледжу</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.3s">
          <img style="margin-bottom: -45px" src="images/lilya.JPG" class="img-responsive img-width" alt="team img">
          <div class="team-des">
            <h4>Громоляк Лілія Дмитрівна</h4>
            <h3 style="padding-top: 20px">Методист</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.6s">
          <img src="images/kovtun.jpg" class="img-responsive img-width" alt="team img">
          <div class="team-des">
            <h4>Ковтун Михайло Іванович</h4>
            <h3>Заступник директора коледжу з виховної роботи</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio section -->
  <div id="portfolio">
    <div class="container">
      <div class="row">
        <div class="title">
          <h2>Дозвільні документи</h2>
          <hr>
        </div>
        <div class="col-md-12 col-sm-12"></div>
        <div class="col-md-12 col-sm-12">
          <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/1.jpg" alt="portfolio img"></a></div>
          <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/2.jpg" alt="portfolio img"></a></div>
          <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/3.jpg" alt="portfolio img"></a></div>
          <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/4.jpg" alt="portfolio img"></a></div>
        </div>
          <div class="col-md-12 col-sm-12">
          <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/5.jpg" alt="portfolio img"></a></div>
          <div style="padding-top: 80px" class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/6.jpg" alt="portfolio img"></a></div>
          <div style="padding-top: 80px" class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/7.jpg" alt="portfolio img"></a></div>
          <div style="padding-top: 80px" class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/8.jpg" alt="portfolio img"></a></div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div style="padding-top: 80px" class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="galerydoc/6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="galerydoc/9.jpg" alt="portfolio img"></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- price section -->
  <div id="price">
    <div class="container">
      <div class="col-md-4 col-sm-4">
        <div class="plan wow bounceIn" data-wow-delay="0.6s">
          <div class="plan_title">
            <h3>Вартість навчання</h3>
          </div>
          <div class="plan_sub_title">
            <h2>4 800</h2>
            <small style="font-family: 'Parisienne',sans-serif;">за рік</small>
          </div>
          <!--<p>-->
            <!--Оплату за навчання можна здійснювати поквартально.</p>-->
            <!--<p>Ви також можете оплучувати послуги навчання у будь-якому найближчому відділенні банку.</p>-->
            <!--<p>З інформацією про банківські реквізити та особливостями оплати через інші відділення банків Ви можете ознайомитися тут-->
          <!--</p>-->
          <ul style="padding-left: 15px; padding-right: 15px">
            <li>Оплату за навчання можна здійснювати поквартально.</li>
            <li>Ви також можете оплучувати послуги навчання у будь-якому найближчому відділенні банку.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="plan wow bounceIn" data-wow-delay="0.6s">
          <div class="plan_title">
            <h3>Банківські реквізити</h3>
          </div>
          <div class="plan_sub_title">
            <p>  Для того, щоб оплатити вартість навчання Вам не обов'язково звертатися у касу навчального закладу. Ви можете внест грошові кошти у будь-якому найближчому до Вас відділені банків.
                 При цьому обов'язково вкажіть:

                        ПІП студента,
                        спеціальність, на якій навчається,
                        форму навчання (денна чи заочна),
                        курс навчання.
            </p>
          </div>
          <table style="margin-top: 10px; margin-bottom: -30px">
            <thead>
              <th class="col-md-5">
                <img src="images/aval-logo.jpg" class="col-md-11">
              </th>
              <th class="col-md-5">
                <img src="images/logo-privat.jpg" class="col-md-11">
              </th>
            </thead>
            <tbody>
              <td>
                <ul>
                  <li style="padding: 5px">код ЗКПО 24681832</li>
                  <li style="padding: 5px">МФО 380805</li>
                  <li style="padding: 5px">р/р 26002166694</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li style="padding: 5px">код ЗКПО 24681832</li>
                  <li style="padding: 5px">МФО 336677</li>
                  <li style="padding: 5px">р/р 26006060293272</li>
                </ul>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- contact section -->
  <section id="contact1" style="margin-top: 20px">
    <div class="container1">
      <div class="row">
        <div class="title">
          <h2>Наші контакти та адреса</h2>
          <hr>
          <ul>
            <li>76006, м.Івано-Франківськ,</li>
            <li>вул.Вовчинецька 227,корпус ІІ,</li>
            <li>тел. (0342) 72-30-36, т/ф (0342) 71-51-59</li>
            <li>тел. (0342) 71-51-71 (приймальна коміся)</li>
            <li>www.cbi.if.ua</li>
            <li>E-mail:college_imega@ukr.net</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

    <!-- google map section -->
    <div class="google_map">
        <div id="map-canvas"></div>
    </div>
    <!-- footer section -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h2 class="wow fadeIn" data-wow-delay="0.9s">Ти можеш знайти нас ось тут</h2>
              <ul class="social-icon">
                <li><a href="https://vk.com/club6520179" target="_blank" class="fa fa-vk wow bounceIn" data-wow-delay="0.3s"></a></li>
                <li><a href="https://twitter.com/" target="_blank" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100006848356315" target="_blank" class="fa fa-facebook wow bounceIn" data-wow-delay="0.9s"></a></li>
                <!--<li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>-->
                <!--<li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>-->
                <!--<li><a href="#" class="fa fa-android wow bounceIn" data-wow-delay="0.9s"></a></li>-->
                <!--<li><a href="#" class="fa fa-phone wow bounceIn" data-wow-delay="0.9s"></a></li>-->
              </ul>
            </div>
          </div>
        </div>
    </footer>
</div>