<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <label for="title">Заголовок</label>
    <input class="form-control"
           id="title"
           ng-model="news.title"
           style="width: 90%; display: inline-block; margin: 10px">

    <label for="description">Опис</label>
    <textarea class="form-control"
              id="description"
              ng-model="news.description"
              style="width: 90%; margin: 10px 5%">
    </textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Сохранити</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
</div>