<div>
  <!-- work section -->
  <section id="work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-4 col-sm-4"> <i class="fa fa-mobile"></i>
            <h3>Mobile UX</h3>
          </div>
          <div class="col-md-4 col-sm-4 bg-red"> <i class="fa fa-cloud"></i>
            <h3>Обслуговування комп'ютерних систем і мереж</h3>
          </div>
          <div class="col-md-4 col-sm-4 bg-black"> <i class="fa fa-mobile"></i>
            <h3>Розробка програмного забезпечення</h3>
          </div>
          <div class="col-md-4 col-sm-4 bg-red"> <i class="fa fa-cloud"></i>
            <h3>Туристичне облуговування</h3>
          </div>
          <div class="col-md-4 col-sm-4 bg-black"> <i class="fa fa-link"></i>
            <h3>Маркетингова діяльність</h3>
          </div>
          <div class="col-md-4 col-sm-4 bg-red"> <i class="fa fa-globe"></i>
            <h3>Фінанси і кредит</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team section -->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3  col-sm-offset-2 col-sm-8 col-sm-offset-2 title">
          <h2>Our team</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="0.9s"><img src="images/team1.jpg" class="img-responsive" alt="team img">
          <div class="team-des">
            <h4>Tracy</h4>
            <h3>Designer</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.3s"><img src="images/team2.jpg" class="img-responsive" alt="team img">
          <div class="team-des">
            <h4>Linda</h4>
            <h3>Manager</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="1.6s"><img src="images/team3.jpg" class="img-responsive" alt="team img">
          <div class="team-des">
            <h4>Mary</h4>
            <h3>Developer</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- portfolio section -->
  <div id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-sm-offset-2 title">
          <h2>Portfolio</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.</p>
        </div>
        <div class="col-md-12 col-sm-12"></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img2.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img4.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img5.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img6.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img7.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img7.jpg" alt="portfolio img"></a></div>
        <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-delay="0.6s"><a href="images/portfolio-img8.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img8.jpg" alt="portfolio img"></a></div>
      </div>
    </div>
  </div>
  <!-- price section -->
  <div id="price">
    <div class="container">
      <div class="col-md-offset-3 col-md-6 col-md-offset-3  col-sm-offset-2 col-sm-8 col-sm-offset-2 title">
        <h2>Our Plans</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="plan wow bounceIn" data-wow-delay="0.3s">
          <div class="plan_title">
            <h3>Basic</h3>
          </div>
          <div class="plan_sub_title">
            <h2>$ 20</h2>
            <small>Per month</small> </div>
          <ul>
            <li>10 EMAIL ACCOUNTS</li>
            <li>1 GB SPACE</li>
            <li>20 MORE THEMES</li>
          </ul>
          <button class="btn btn-warning">Get started</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="plan wow bounceIn" data-wow-delay="0.6s">
          <div class="plan_title">
            <h3>Business</h3>
          </div>
          <div class="plan_sub_title">
            <h2>$ 40</h2>
            <small>Per month</small> </div>
          <ul>
            <li>10 EMAIL ACCOUNTS</li>
            <li>4 GB SPACE</li>
            <li>20 MORE THEMES</li>
          </ul>
          <button class="btn btn-warning">Get started</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="plan wow bounceIn" data-wow-delay="0.9s">
          <div class="plan_title">
            <h3>Personal</h3>
          </div>
          <div class="plan_sub_title">
            <h2>$ 60</h2>
            <small>Per month</small> </div>
          <ul>
            <li>10 EMAIL ACCOUNTS</li>
            <li>10 GB SPACE</li>
            <li>20 MORE THEMES</li>
          </ul>
          <button class="btn btn-warning">Get started</button>
        </div>
      </div>
    </div>
  </div>
  <!-- contact section -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3  col-sm-offset-2 col-sm-8 col-sm-offset-2 title">
          <h2>Contact Us</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoree.</p>
        </div>
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 contact-form wow fadeInUp" data-wow-delay="0.9s">
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Name">
            <input type="email" class="form-control" placeholder="Email">
            <textarea class="form-control" placeholder="Message" rows="6"></textarea>
            <input type="submit" class="form-control" value="SEND EMAIL">
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- google map section -->
  <div class="google_map">
    <div id="map-canvas"></div>
  </div>
  <!-- footer section -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 class="wow fadeIn" data-wow-delay="0.9s">Follow Us</h2>
          <ul class="social-icon">
            <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
            <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
            <li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.9s"></a></li>
            <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>
            <li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>
            <li><a href="#" class="fa fa-android wow bounceIn" data-wow-delay="0.9s"></a></li>
            <li><a href="#" class="fa fa-phone wow bounceIn" data-wow-delay="0.9s"></a></li>
          </ul>
        </div>
        <div class="col-md-12 col-sm-12 copyright">
          <p>&copy; ROMNA 2084. All Rights Reserved | Design: <a target="_blank" rel="nofollow" href="http://www.templatemo.com">template mo</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>