<cyclic-navbar></cyclic-navbar>
<div class="comm-main">
    <h4>Циклова комісія дисциплін професійно-практичної підготовки з фінансів і кредиту</h4><br>

    <p>Головна мета циклової комісії:</p>
    <p>формування у майбутніх фахівців знання, уміння та здатності у нових соціально-економічних умовах вирішувати складні питання господарської практики. Аналізувати економічну діяльність підприємств різних форм власності, планувати їх виробничу, комерційну та фінансову діяльність, організувати виробничий процес та управляти персоналом.</p>
    <p>Щлях до цього проходить через формування освіти на забезпечення професійної самореалізації особистості, формування її квалафікаційного рівня, створення соціально активного, морального, фізично-здорового та національно-свідомого громадянина України.</p>
    <p>Методична проблема, над якою працює циклова комісія:</p>
    <ul style="width: 100%;">
        <li>впровадження інтерактивних та інформаційно-комунікативних технологій навчання; </li><br>
        <li>удосконалення методичної роботи кожного викладача-члена комісії; </li><br>
        <li>підвищення кваліфікаційного рівня викладачів; </li><br>
        <li>вивчення, узагальнення і розповсюдження передового педагогічного досвіду; </li><br>
        <li>удосконалення навчально-матеріальної бази та розробки методичних рекомендацій з використання наочних посібників та інформаційно-комунікативних технологій; </li><br>
        <li>робота з студентами, які потребують додаткової уваги; </li><br>
        <li>моніторинг рівня професійного зростання викладачів економічних дисциплін; </li><br>
        <li>ефективна організація самостійної роботи студентів; </li><br>
        <li>залучення студентів до наукової роботи; </li><br>
        <li>удосконалення різних форм організації роботи циклової комісії.</li><br>
    </ul>

    <p>Голова комісії:</p>
    <p>Ковальова Г.В. – кандидат економічних наук, доцент.</p>

    <p>Члени комісії:</p>
    <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
        <li>Глібчук В.М. – кандидат економічних наук, доцент;</li><br>
        <li>Левандівський О.Т. – кандидат економічних наук, доцент;</li><br>
        <li>Труфанова С.О. - кандидат економічних наук, професор;</li><br>
        <li>Футерко О.І. – старший викладач;</li><br>
        <li>Кітлер Н.М. - викладач;</li><br>
        <li>Матійчин М.В. - викладач;</li><br>
        <li>Савич О.В. – кандидат економічних наук, доцент;</li><br>
        <li>Данилів Л.Т. - старший викладач.</li><br>
    </ul>
</div>