<div class="galary-div">

    <div class="galary-content add-galary"
         ng-click="addNewPhoto()"
         ng-if="!adminStatus"
         style="cursor: pointer">
        <span class="glyphicon glyphicon-plus"></span>
    </div>

    <div ng-repeat="photo in allPhotos"
         class="galary-content"
         style="cursor: pointer"
         ng-click="openPhoto(photo)">
        <button class="btn btn-default radius-button delete-btn"
                ng-if="!adminStatus"
                ng-click="deletePhoto()">x</button>
        <img src="{{photo.src}}"
             alt="photo">
    </div>

</div>
