<cyclic-navbar></cyclic-navbar>
<div class="comm-main">
    <h4>Циклова комісія дисциплін з гуманітарної та соціально-економічної підготовки</h4><br>

    <p>Мета роботи циклової комісії:</p>
    <p>розвивати здібності студентів, стимулювати їх самоосвіту, творчу активність; підвищити інтерес до суспільно-гуманітарних, загальноосвітніх дисциплін; підвищувати кваліфікаційний рівень викладачів шляхом застосування новітніх педагогічних технологій.</p>

    <p>Методична проблема, над якою працює циклова комісія:</p>
    <p>впровадження інноваційних технологій у навчально-виховний процес та їх вплив на якість знань, вмінь та навичок студентів.</p>

    <p>Голова комісії:</p>
    <p>Гайдукевич О.О. – кандидат історичних наук, доцент.</p>

    <p>Члени комісії:</p>

    <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
        <li>Ковальчук О.Я. – кандидат філологічних наук, доцент;</li><br>
        <li>Лехицька Л.М. – викладач вищої категорії;</li><br>
        <li>Кліменко Л.О. – викладач;</li><br>
        <li>Колодрубський В.П. – кандидат економічних наук, професор;</li><br>
        <li>Гах Й.М. – кандидат філософських наук, професор;</li><br>
        <li>Рубанов В.В. – викладач вищої категорії;</li><br>
        <li>Соколовська Г.Д. - викладач вищої категорії;</li><br>
        <li>Бойчук М.П. – викладач вищої категорії;</li><br>
        <li>Притуляк С.І. – кандидат політичних наук.</li><br>
    </ul>
</div>