<cyclic-navbar></cyclic-navbar>
<div class="comm-main">
    <h4>Циклова комісія дисциплін професійно-практичної підготовки галузі знань з інформатии та обчислювальної техніки</h4><br>

    <p>Основним завданням циклової комісії є якісна підготовка фахівців і забезпечення їх ефективної адаптації до умов сучасного інформаційного простору.</p>
    <p>Викладання дисциплін спрямовується на формування знань у галузі теоретичних основ інформатики, вмінь і навичок використання прикладних систем, опрацювання даних, сучасних комп'ютерно-інформаційних технологій у професійній діяльності. Підготовка студентів ґрунтується на принципах фундаментальності та цілісності надання знань, їх практичної спрямованості, індивідуалізації навчання.</p>

    <p>Голова комісії:</p>
    <p>Іщеряков С.М. – кандидат технічних наук, доцент.</p>

    <p>Члени комісії:</p>
    <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
        <li>Гуменюк Р.М. - кандидат технічних наук, доцент;</li><br>
        <li>Пашкевич О.П. - кандидат технічних наук, доцент;</li><br>
        <li>Кобеляк О.І. - викладач;</li><br>
        <li>Козленко М.І. - кандидат технічних наук, доцент;</li><br>
        <li>Ріпа В.В. - викладач;</li><br>
        <li>Костишин Л.П. – кандидат математичних наук.</li><br>
    </ul>
</div>