<selec-navbar></selec-navbar>
<div class="comm-main">
    <h4>Приймальна комісія</h4><br>

    <p>Приймальна комісія Коледжу бізнесу та інформатики Галицької академії знаходиться за адресою:</p>
    <p style="margin-bottom: 22%">76006, м.Івано-Франківськ,
вул.Вовчинецька 227,копус І, каб. 201,
тел. (0342) 71-51-71, т/ф (0342) 71-51-59
E-mail:prymalkom@imega.ua</p>

</div>