<div>
    <!-- portfolio section -->
  <div id="info" style="margin-top: 60px">
    <div class="container">
      <div class="row">
        <div class="title">
          <h2>Бібліотека</h2>

          <h3>Бібліотека коледжу- це найважливіший центр нашого навчального закладу, який забезпечує
              бібліотечно-бібліографічне та інформаційне обслуговування навчального, наукового і виховного процесів. Бібліотека</h3>
          <br>
          <h6>Бібліотека на сьогоднішній день обслуговує понад 2000 читачів: студентів, аспірантів, викладачів
              та працівників навчального закладу. В бібліотеці працює читальний зал та абонемент, у якому видаються
              книжки за залишковим принципом - після повного забезпечення потреб в підручниках і посібниках читального залу.
              у бібліотеці також створений зал періодичних видань.</h6>

          <p>Книжковий фонд бібліотеки на сьогодні становить понад 32000 примірників, який систематично поновлюється.
              Фонд бібліотеки багатогалузевий. Комплектується літературою з питань математики, фізики, хімії, біології,
              екології та охорони природи, фінансів, туризму, маркетингу, економічної теорії, історії, соціології, політології,
              філософії, етики та естетики тощо. Щорічно в бібліотеку надходять десятки періодичних видань.</p>

          <p>Для полегшення пошуку необхідної літератури в бібліотеці створені каталоги і картотеки :</p>

          <p>- традиційні:</p>
          <ul>
            <li>алфавітний каталог;</li>
            <li>систематичний каталог;</li>
            <li>картотека журнальних статей;</li>
          </ul>

          <p>- електронний каталог, до складу якого входять такі програми:</p>
          <ul>
            <li>"Перегляд книг по предметах";</li>
            <li>"Забезпеченість предметів книгами";</li>
            <li>"Перегляд книг по кафедрах";</li>
            <li>"Нові надходження";</li>
            <li>"Періодичні видання".</li>
          </ul><br>

          Працює бібліотека:<br>
          З 9.00 - до 18.00 год.<br>
          Остання п‘ятниця місяця – санітарний день.<br>
          Вихідні дні - субота, неділя.<br><br>

          <h6>Правила користування бібліотекою</h6>

          Бібліотека Коледжу бізнесу та інформатики – це книгозбірня, культурний, документально – комунікативний центр.
          Що забезпечує найбільш повне формування, зберігання та загальнодоступне використання документально - інформаційних ресурсів.

          1. Загальні положення.
          Правила користування бібліотекою Коледжу бізнесу та інформатики розроблені у відповідності до Типових правил,
            затверджених наказом Міністерства культури і мистецтв України від 25.01 2001 року №319 і зареєстрованих у
            Міністерстві юстиції України 22.06.2001 року №538\5729.
          Користування бібліотекою безкоштовне.

          2. Правила користувачів.
          Користувачами бібліотеки є кожний студент, викладач, співробітник коледжу незалежно від статі, національності, освіти, соціального походження, політичних та релігійних переконань, місця проживання, який має право на бібліотечне обслуговування яке може бути у формі: абонемента і читального залу.
          Користувачі бібліотеки мають право:
          — користуватись інформацією про склад бібліотечних фондів;
          — отримувати консультативну допомогу в пошуку та виборі джерел інформації;
          — отримувати в тимчасове користування документів із фонду бібліотеки.
          Користувачі мають право одержувати для опрацювання поза бібліотекою не більше 5 документів терміном до 30 днів. Термін користування новими надходженнями, документами підвищеного читацького попиту, періодикою може бути зменшений до 5-15 днів.
              Кількість бібліотечних документів, що видаються в читальному залі не обмежується. Бібліотека самостійно визначає види й типи документів, що видаються лише в читальному залі. Підручники і навчальні посібники для студентів видаються на один навчальний рік у відповідності до робочого навчального плану коледжу;для викладачів – по мірі потреби.
              Бібліотека може встановлювати інші терміни з урахуванням попиту користувачів і специфіки їхнього обслуговування.
          Користувачі мають право виносити документи за межі бібліотеки, якщо вони записані у формулярі або іншому обліковому документі.
              Термін користування документами на прохання користувача може бути продовжений, якщо на них відсутній попит інших користувачів.
          Рідкісні та цінні документи, а також періодичні видання (газети) видаються для користування лише в читальному залі.

3. Обов'язки користувачів.
Для запису до бібліотеки громадяни пред‘являють паспорт або документ, що його заміняє; ознайомлюються з правилами користування бібліотекою, підписують зобов‘язання їх виконувати й дають відомості для заповнення читацького формуляра.
      У разі зміни місця проживання, зазначеного в паспорті користувач повинен повідомити про це бібліотеку у місячний термін.
При відвідуванні бібліотеки студенти повинні мати студентський квиток.
Користуючись документами з бібліотечного фонду, читач повинен дбайливо ставитись до них; при одержанні документів має перевірити їхню кількість, інвентарний номер та наявність пошкоджень і в разі виявлення дефектів попередити про це бібліотекаря, який зобов‘язаний зробити на документах відповідну позначку. В іншому разі відповідальність за виявлені в документах дефекти несе користувач.
Кожний документ, виданий на абонементі або в читальному залі фіксується в читацькому формулярі і підтверджується підписом користувача.
Користувач, який втратив або пошкодив документ з фонду бібліотеки за домовленістю з бібліотекою – фондоутримувачем повинен замінити його аналогічним документом. Визнаним рівноцінним(із врахуванням року видання-минулий і поточний) або відшкодувати його ринкову вартість. Розмір відшкодування визначається бібліотекою.
Користувач, який порушує правила користування бібліотекою, позбавляється права відвідувати її на термін. Що визначається бібліотекою. Матеріали про злісне порушення правил користування бібліотекою можуть бути передані до суду згідно з чинним законодавством України.
Користувачі повинні дотримуватись тиші в бібліотеці. Особи в нетверезому стані й неохайному вигляді до бібліотеки не допускаються. Палити й розпивати алкогольні напої в бібліотеці заборонено.
Документи одержані з фондів бібліотеки користувач повинен повертати в установлений термін.
Користувачі несуть відповідальність за несанкціоноване використання створених бібліотекою баз даних, інших об‘єктів інтелектуальної власності згідно з законодавством.

4. Обов‘язки бібліотеки з обслуговування користувачів.
Бібліотека зобов‘язана:
— інформувати користувачів про види послуг, що їх надає бібліотека;
— створювати умови для використання бібліотечного фонду, роботи в бібліотеці, надавати допомогу в доборі потрібних документів;
— дбати про культурне обслуговування;
— формувати в користувачів потребу в інформації, користуванні бібліотеками, сприяти підвищенню культури читання;
— систематично здійснювати контроль за своєчасним поверненням до бібліотеки виданих документів;
— враховувати читацькі запити при формуванні інформаційних ресурсів, проведенні масових заходів;
— не використовувати відомості про користувачів бібліотеки та їх інтереси з будь-якою метою. Крім наукової, без їх згоди;
— звітувати перед користувачами бібліотеки.
        </div>
      </div>
    </div>
  </div>
</div>