<div class="login-div">
    <h2>admin log in</h2>
    <div class="login-content">
        <label for="login">login: </label>
        <input id="login"
               class="form-control"
               ng-model="user.login">

        <label for="password">password: </label>
        <input id="password"
               class="form-control"
               type="password"
               ng-model="user.pass">

        <div class="login-error">{{error}}</div>
        <button class="btn btn-success"
                ng-click="logIn()">log in</button>
    </div>
</div>