<div style="margin: 15px;position: fixed;" ng-show="openMyPage">
    <div class="slideThree">
        <input ng-model="changePage" ng-show="false" type="checkbox" value="None" id="slideThree" name="check" />
        <label for="slideThree"></label>
    </div>
</div>
<div ng-if="!changePage">
    <!-- home section -->
    <section id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1 class="wow bounceInDown rotate" style="font-family: 'Parisienne', sans-serif;line-height: 26px;">Коледж бізнесу та інформатики</h1>
            <h2 class="wow bounce" style="font-family: 'Parisienne', sans-serif;line-height: 26px;margin-top: 40px">Галицька Академія</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- intro section -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6 col-md-offset-3  col-sm-offset-2 col-sm-8 col-sm-offset-2 title">
            <h4 ng-click="setCount()" style="font-family: 'Parisienne',sans-serif;">ЗАПРОШУЄМО ДО НАШОГО ЧУДОВГО КОЛЕДЖА</h4>
            <hr>
            <p>Ми гарантуємо фахові знання, змістовні практики та цікаве дозвілля!</p>
          </div>
        </div>
      </div>
    </section>

    <h1>НОВИНИ</h1>

    <button class="btn add-news-btn"
            ng-click="addNews()"
            ng-if="adminStatus">Додати новину</button>

    <div ng-repeat="news in allNews"
         class="news-div">

        <h3>{{news.title}}</h3>

        <div class="content-btn" ng-if="adminStatus">
            <button class="btn btn-default radius-button"
                    ng-click="changeNews($index)">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-default radius-button"
                    ng-click="deleteNews($index)">
                <span class="glyphicon glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class="login-content">
            <p>{{news.description}}</p>
        </div>
    </div>
</div>

<div ng-if="changePage" class="text-center" style="margin-bottom: 60px">
    <div style="padding: 25px;padding-top: 60px;">
        <div ng-if="step == 0">
            <h1>Привіт =)</h1><br>
            <h5>Якщо ти потрапив на цю сторінку, то хтось розказав тобі про цей секрет</h5>
            <h5>Я сподіваюся що ти збережетеш його, і нікому не розкажеш про нього. Але раз ти вже попав сюди, то давай знайомитись</h5>
            <h5>Мене звати <a href="https://vk.com/id136969705" target="_blank">Назар</a> і я творець цього сайту, а тебе ?</h5>
            <div class="input-group" style="width: 50%; margin-left: 25%">
              <input ng-model="name" type="text" class="form-control" placeholder="твоє ім’я тут" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2" ng-click="saveName()">заповнив ? жми сюда</span>
            </div><br>
            <div ng-if="isName">
                <p>Що ж, радий познайомитися, {{name || 'буду називати тебе Ляпюся'}}</p>
                <p>Як твої справи {{name || "Ляпуся"}}? Хоча зачекай, я заздалегіть написаний компютерний код і мені всерівно як у тебе справи, тому продовжимо ...</p>
                <p>Я (великий творець) підготував для тебе дуже цікавий і веселий квест, якщо є бажання взяти в ньому участь</p>
                <button class="btn btn-success" ng-click="next(1)">ЖМИ СЮДИ</button>
            </div>
        </div>
        <div ng-if="step == 1">
            <h1>step - 1</h1>
        </div>
    </div>
</div>