<cyclic-navbar></cyclic-navbar>
<div class="comm-main">
    <h4>Циклова комісія дисциплін професійно-практичної підготовки з маркетингової діяльності</h4><br>

    <p>Циклова комісія працює над реалізацією методичної проблеми:</p>
    <p>«Активізація напряму практичної підготовки студентів як передумова їхнього успішного працевлаштування та саморегуляції на ринку праці».</p>

    <p>Голова комісії:</p>
    <p>Земляков І.С. – кандидат економічних наук, доцент.</p>

    <p>Члени комісії:</p>
        <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
        <li>Гнатишин І.В. - старший викладач;</li><br>
        <li>Землякова Н.Й. - старший викладач;</li><br>
        <li>Кірпічнікова Г.О. - викладач.</li><br>
    </ul>
</div>