<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div ng-if="photo.id">
        <img src="{{photo.src}}" style="width: 100%">

        <p>{{photo.description}}</p>
    </div>
    <div ng-if="!photo.id">
        <input class="form-control photo-in" type="file" ng-model="photo.src">

        <textarea class="form-control photo-in" ng-model="photo.description"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-if="!photo.id" ng-click="ok()">Сохранити</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Закрити</button>
</div>