<cyclic-navbar></cyclic-navbar>
<div class="comm-main">
    <h4>Циклова комісія дисциплін природничо-наукової підготовки</h4><br>

    <p>Головна мета циклової комісії:</p>
    <p>підвищення успішності студентів та поліпшення якості підготовки спеціалістів, здатних у нових соціально-економічних умовах бути конкурентноспроможними на ринку праці.</p>

    <p>Методична проблема:</p>
    <p>Творче використання різновидів інноваційних методів навчання на заняттях природничо-наукових дисциплін, умінь їх оптимально реалізувати на основах сучасних інформаційно-комунікативних технологій.</p>

    <p>Голова комісії:</p>
    <p>Коваль М.І. - старший викладача.</p>

    <p>Члени комісії:</p>
    <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
        <li>Демянів Т.О. – кандидат фізико-математичних наук, доцент;</li><br>
        <li>Проданюк В.Я. – викладач;</li><br>
        <li>Сметанюк Г.Л. – викладач вищої категорії;</li><br>
        <li>Рудейчук М.Я. – викладач;</li><br>
        <li>Маскович Н.П. – викладач вищої категорії;</li><br>
        <li>Туряниця І.С. – викладач вищої категорії;</li><br>
        <li>Михайленко Р.І. – кандидат наук з фізичного виховання і спорту, доцент.</li><br>
    </ul>
</div>