<div>
    <div id="info" style="margin-top: 60px">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h3 style="color: #202020;">5.05010301 "Розробка програмного забезпечення"</h3><br>

                    <div style="width: 100%; background-color: #324554;color: #fff">
                        <img src="https://image.freepik.com/free-vector/web-programmer_23-2147502079.jpg" style="width: 30%">
                        <div style="width: 70%; float: right;margin-top: 5%;padding: 15px">
                            <h4>Напрям підготовки: 050103 "Програмна інженерія"</h4>
                            <h4>Галузь знань: 0501 "Інформатика та обчислювальна техніка"</h4>
                        </div>
                    </div>
                    <div style="width: 100%; background-color: #C3E2DC">
                        <div style="width: 50%; float: left;margin-top: 10%;padding: 15px">
                            <p>Ця спеціальність – одна з найнеобхідніших спеціальностей сьогодення. Ви навчитеся професійно володіти мовами програмування для тестування і розробки програм, будете знати будову та техніко-експлуатаційні характеристики електронно-обчислювальних машин та мереж, економіку, організацію і планування роботи обчислювальних центрів.</p>

                            <p>Студенти, які навчаються за даною спеціальністю, отримують кваліфікацію технік-програміст.</p>
                        </div>
                        <img src="http://image.shutterstock.com/z/stock-vector-programmer-and-process-coding-programming-concept-264265364.jpg" style="width: 50%;">
                    </div>
                    <div style="width: 100%; background-color: #60ACB9;color: #fff">
                        <div style="width: 50%; float: right; padding: 15px">
                            <p>Технік-програміст може працювати на підприємствах, організаціях та установах усіх форм власності, сфері пенсійного забезпечення, соціального захисту, центрах зайнятості, державних адміністраціях на таких посадах, як: програміст – розробник програмного забезпечення, програміст – тестувальник програмного забезпечення, системний аналітик – програміст, керівник (менеджер) проектів складних програмних систем, системний адміністратор, інженер з інформаційних, адміністратор комп`ютерних мереж, адміністратор інтернет - технологій, розробник – адміністратор баз даних.</p>
                        </div>
                        <img src="https://pbs.twimg.com/media/CHw9BPkWcAABgJU.jpg:large" style="width: 50%;">
                    </div>
                    <div style="width: 100%; background-color: #BE6060; color: #fff; margin-bottom: 20px">
                        <div style="width: 50%; float: left;padding: 15px">
                            <p>Програміст повинен володіти навичками алгоритмізації та структуризації даних, орієнтуватися в фундаментальних поняттях сфери інформатики, мати навички програмування на декількох програмних і машинно-орієнтовних мовах, налагодження і тестування програм.</p>

                            <p>Програмісти створюють програмні дані загального призначення та спеціалізовані пакети прикладних програм..</p>
                        </div>
                        <img src="http://1stwdcdn-31d9.kxcdn.com/wp-content/uploads/2015/03/flatwebdesign.jpg" style="width: 50%;">
                    </div>

                    <p>Технік-програміст повинен знати фундаментальні розділи математики, архітектуру ЕОМ і комп`ютерних мереж, основи мови програмування, сучасні технології проектування та розробки програмного забезпечення, сучасні підходи до побудови людино-машинного інтерфейсу та засоби візуального програмування, принципи організації баз даних та мову запитів SQL та вміти застосовувати базові знання математики та фізики, виконувати необхідні розрахунки для здійснення майбутньої професійної діяльності. В процесі навчання студенти отримують навики програмування в TurboPascal, C++, Асемблері, мови SQL-запитів, середовищі Visual Basic for Application, Delphi, Java Script, HTML, PHP, Visual C та навики використання CASE-засобів проектування та документування програмних засобів (UML, Power Designer,Platinum Erwin та ін.).</p>

                </div>
            </div>
        </div>
    </div>
</div>