<div>
    <div id="info" style="margin-top: 60px">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h3 style="color: #202020;">5.14010301 "Туристичне облуговування"</h3><br>

                    <p>Напрям підготовки: 140508 "Туризм"</p>

                    <div style="width: 100%; background-color: #CCECE9;">
                        <img src="https://img0.etsystatic.com/059/0/8107444/il_fullxfull.750107756_jcpy.jpg" style="width: 30%">
                        <div style="width: 70%; float: right;margin-top: 3%;padding: 15px">
                            <p>Галузь знань: 1401 "Сфера обслуговування"</p>
                            <p>Туристична галузь визнана пріоритетною в господарстві Івано-Франківщини, тому що область має великий рекреаційний потенціал, велику кількість пам’яток культурної спадщини та природо-заповідного фонду. В зв’язку з цим в 2013 році було ліцензовано спеціальність «Туристичне обслуговування».</p>
                        </div>
                    </div>
                    <div style="width: 100%; background-color: #EFE7D4">
                        <div style="width: 50%; float: left;margin-top: 5%;padding: 15px">
                            <p>В процесі навчання студенти спеціальності «Туристичне обслуговування» мають можливість поглибленого вивчення іноземних мов (вільне володіння однією іноземною мовою та володіння другою та третьою іноземною мовою в межах професійної лексики (англійська, німецька, польська)).</p>
                        </div>
                        <img src="http://st2.depositphotos.com/1003536/6714/v/950/depositphotos_67142333-Vector-vintage-poster-with-couple-of-backpackers-and-set-of-icons.jpg" style="width: 50%;">
                    </div>
                    <div style="width: 100%; background-color: #fff;">
                        <img src="http://previews.123rf.com/images/bloomua/bloomua1504/bloomua150400015/38864143-Icone-di-linea-impostato-con-elementi-piatti-di-design-di-avventura-all-aria-aperta-viaggio-turistic-Archivio-Fotografico.jpg" style="width: 40%">
                        <div style="width: 60%; float: right;margin-top: 3%;padding: 15px">
                            <p>Молодший спеціаліст спеціальності «Туристичне обслуговування» може займати первинні посади:</p>
                            <ul>
                                <li>Помічник менеджера з внутрішнього туризму;</li>
                                <li>Помічник менеджера з міжнародного туризму (за штатним розкладом підприємств);</li>
                                <li>Агент з організації туризму;</li>
                                <li>Консультант подорожей та організатор подорожей (екскурсій);</li>
                                <li>Екскурсовод;</li>
                                <li>Інспектор з туризму;</li>
                                <li>Інструктор з активних видів туризму;</li>
                                <li>Організатор туристичної та готельної діяльності.</li>
                            </ul><br>
                        </div>
                    </div>
                    <div style="width: 100%; background-color: #D3F7F7; margin-bottom: 20px">
                        <div style="width: 50%; float: left;margin-top: 5%;padding: 15px">
                            <p>Фахівець з туризму:</p>
                            <ul>
                                <li>займається реалізацією туристичних послуг;</li>
                                <li>вивчає вітчизняний та закордонний ринок туристських послуг;</li>
                                <li>здійснює аналіз змісту, вартості, особливостей послуг готелів, музеїв, транспортних підприємства;</li>
                                <li>приймає участь у розробці внутрішніх та міжнародних маршрутів;</li>
                                <li>самостійно здійснює підготовку даних для складання кошторисів турів та екскурсій;</li>
                                <li>проводить рекламну діяльність з метою залучення громадян до оздоровлення, проведення змістовного дозвілля, ознайомлення з історико-культурною спадщиною, природним середовищем;</li>
                                <li>надає повну інформацію про обсяг, умови та якість туристичних послуг;</li>
                                <li>самостійно складає угоди на туристичні послуги та веде контроль їх виконання.</li>
                            </ul>
                        </div>
                        <img src="http://previews.123rf.com/images/mayrum/mayrum1503/mayrum150300017/37752932-Vector-Illustration-eines-Wanderer-in-der-N-he-von-Zelt-in-einem-Wald-Camping-Konzept-Lizenzfreie-Bilder.jpg" style="width: 50%;">
                    </div>
                    <p>Здобувши спеціальність фахівця з туристичного обслуговування, випускники можуть правильно зорієнтуватися в сучасних ринкових відносинах, організувати власне підприємство, самостійно вибрати пріоритетні напрямки розвитку організації та ефективно управляти її роботою.</p>
                </div>
            </div>
        </div>
    </div>
</div>