<div>
    <div id="info" style="margin-top: 60px">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h3 style="color: #202020;">5.14010301 "Маркетингова діяльність"</h3><br>

                    <p>Напрям підготовки: 030507 "Маркетинг"</p>

                    <div style="width: 100%; background-color: #53958F; color: #fff">
                        <img src="http://marketing-now.ru/wp-content/uploads/2014/11/Internet-Marketing-Email-Banner.png" style="width: 50%">
                        <div style="width: 50%; float: left;margin-top: 3%;padding: 15px">
                            <p>Галузь знань: 0305 "Економіка та підприємство"</p>
                            <p>Що складніше за все в бізнесі? Звісно - продати товар! Хто знає як знайти шлях до споживача, той перемагає в конкурентній боротьбі. Саме маркетологи - це майстри пошуку найкращих шляхів для збільшення прибутку компаній та підприємств.</p>
                        </div>
                    </div>
                    <div style="width: 100%; background-color: #151515; color: #fff">
                        <div style="width: 50%; float: right;padding: 15px; margin-top: 2%">
                            <p>Маркетолог - це фахівець з просування товару. Він аналізує попит на вироблений товар, вивчає ринки збуту товару, розробляє рекомендації керівництву підприємства щодо можливостей продажу товару, вивчає і прогнозує смак і потреби покупців, здійснює дослідження, з'ясовує, який товар буде користуватися великим попитом у покупців, виявляє перспективи збуту товару та його конкурентоспроможність на ринку.</p>
                        </div>
                        <img src="http://2.bp.blogspot.com/-ZLkjTsGwB7k/VnlQMSdEo3I/AAAAAAAAGsU/NOjw7YNFVlk/s1600/about%2BIT%2Bmarketing.jpg" style="width: 50%;">
                    </div>
                    <div style="width: 100%; background-color: #67C8CA; color: #fff;padding: 15px; margin-bottom: 20px">
                        <img src="http://solodukha.com/wp-content/uploads/2015/02/online-marketing.png" style="width: 50%;float:right">
                        <div style="width: 50%;">
                            <p>До сфери діяльності маркетологів належать:</p>
                            <ul>
                                <li>розробка нових товарів;</li>
                                <li>встановлення цін на товари;</li>
                                <li>розробка логотипів та торгівельних марок (брендів);</li>
                                <li>розробка рекламних компаній та рекламних оголошень;</li>
                                <li>визначення систем знижок;</li>
                                <li>організація промоакцій та інших акцій, спрямованих на реалізацію товару;</li>
                                <li>розробка та просування іміджу компанії;</li>
                                <li>вивчення та аналіз стану та тенденцій розвитку ринку;</li>
                                <li>визначення та аналіз потреб споживачів;</li>
                                <li>вивчення та аналіз конкурентів та їх стратегій;</li>
                                <li>Організація закупівель товарів та ресурсів.</li>
                            </ul>
                        </div>
                    </div>

                    <p>Де працюють маркетологи?</p>
                    <p>Маркетологи можуть працювати в рекламних та PR-агентствах, інвестиційних та страхових компаніях, консалтингових фірмах, підприємствах харчування, банках, туристичних фірмах та агенціях, закладах культури, органах державного управління, навчальних закладах.</p>
                </div>
            </div>
        </div>
    </div>
</div>