<div>
    <div id="info" style="margin-top: 60px">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h3 style="color: #202020;">5.03050801 "Фінанси і кредит"</h3><br>

                    <div style="width: 100%; background-color: #037FBD;color: #fff">
                        <img src="http://previews.123rf.com/images/macrovector/macrovector1410/macrovector141000686/32933475-Business-human-hands-with-money-coin-and-paper-cash-safe-credit-card-illustration-Stock-Vector.jpg" style="width: 30%">
                        <div style="width: 70%; float: right;margin-top: 5%;padding: 15px">
                            <p>Напрям підготовки: 030508 "Фінанси і кредит"</p>
                            <p>Галузь знань: 0305 "Економіка та підприємство"</p>
                        </div>
                    </div>
                    <div style="width: 100%; background-color: #FED41D">
                        <div style="width: 50%; float: left;margin-top: 2%;padding: 15px">
                            <p>«Фінанси і кредит» - це сучасна і престижна спеціальність в умовах ринкової економіки і бізнесу, володіючи якою ви без проблем знайдете своє місце в професійній діяльності. Всі ми добре знаємо, що фінанси є сьогодні в наший країні тією сферою економіки, яка дуже гостро потребує чітко вивірених і правильно організованих дій.</p>
                            <p>Можна пригадати добре всім відому приказку "Не в грошах щастя". Так, це правда. Гроші - одна з форм влади, сили, а не щастя.. Гроші приходять і йдуть, але якщо ви знаєте, як працюють гроші, ви отримуєте владу над ними і можете починати будувати багатство. Фінанси - це наріжний камінь всієї економіки. На них тримається бюджет і фінансове благополуччя не тільки конкретної фірми, але і всієї економіки країни вцілому.</p>
                        </div>
                        <img src="http://previews.123rf.com/images/macrovector/macrovector1410/macrovector141001221/32945540-Finance-flat-icons-set-with-payment-methods-financial-security-analytic-business-cooperation-isolate-Stock-Vector.jpg" style="width: 50%;">
                    </div>
                    <div style="width: 100%; background-color: #D8EBEF">
                        <div style="width: 60%; float: right; padding: 15px; margin-top: 5%">
                            <p>Спеціальність «Фінанси і кредит» для абітурієнта - це:</p>
                            <ul>
                                <li>перспектива: швидке кар'єрне зростання в реальному секторі економіки;</li>
                                <li>престиж: перевага випускника на ринку праці;</li>
                                <li>високий професіоналізм: новітні інформаційні і освітні технології;</li>
                                <li>унікальність: знання, відповідні часу;</li>
                                <li>ваше майбутнє: професія фінансист - безпрограшний вибір.</li>
                            </ul>
                        </div>
                        <img src="http://previews.123rf.com/images/rms164/rms1641507/rms164150700186/42278039-Flat-design-vector-illustration-infographic-concept-with-icons-set-of-modern-business-working-elemen-Stock-Vector.jpg" style="width: 40%;">
                    </div>
                    <div style="width: 100%; background-color: #fff; margin-bottom: 20px">
                        <div style="width: 70%; float: left;padding: 15px; margin-top: 5%">
                            <p>Місцем професійної діяльності фінансиста можуть бути державні органи; банки, біржі, фінансові компанії, інвестиційні фонди, економічні і фінансові служби підприємств і організацій.</p>
                        </div>
                        <img src="http://previews.123rf.com/images/macrovector/macrovector1410/macrovector141000560/32133938-Finance-banking-business-money-exchange-icons-set-with-briefcase-scales-chart-isolated-vector-illust-Stock-Vector.jpg" style="width: 30%;">
                    </div>

                    <p>Специфіка діяльності фінансиста визначається конкретними умовами робочого місця, але основні професійні напрямки і цілі такі:</p>
                    <ul>
                        <li>1. Фінансово-кредитна (кредит – позика, надання грошей або товарів у борг, на умовах повернення): розробка і використання різних систем обліку і витрат для оцінки витрат і доходів; складання фінансових кошторисів, розробка кредитних операцій і контроль за ними; планування фінансів; надання рекомендацій з операцій по нерухомості (продаж, купівля, злиття фірм).</li>
                        <li>2. Податково-бюджетна (податок – вид платежу, що стягується державою з підприємств, організацій і населення; бюджет – кошторис доходів і витрат): розрахунок податків, їх нарахування (контроль за кількістю) і відрахування; планування бюджету.</li>
                        <li>3. Інвестиційна (капіталовкладення, спрямовані на підтримку і розширення капіталу). Інвестиції реалізуються шляхом кредитування, прямих витрат грошових коштів і придбання цінних паперів.</li>
                        <li>4. Нормативно-методична: розробка і впровадження систем фінансової і статистичної звітності; складання фінансових звітів.</li>
                        <li>5. Страхова (система економічних стосунків, при яких за рахунок внесків підприємств і населення створюються страхові фонди, призначені для відшкодування збитків від стихійного лиха, надання допомоги громадянам або їхнім сім’ям), робота зі страховими документами.</li>
                        <li>6. Зовнішньо-економічна: економіка й організація виробництва (робота в умовах постійної змінної економічної кон’юнктури).</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>







