<div>
    <div id="info" style="margin-top: 60px">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h3 style="color: #202020;">5.05010201 "Обслуговування комп'ютерних систем і мереж"</h3><br>

                    <p>Напрям підготовки: 050102 "Комп'ютерна інженерія"

                    <div style="margin: 15px;position: absolute;" class="slideThree">
                        <input ng-model="viewImageType" ng-show="false" type="checkbox" value="None" id="slideThree" name="check" />
                        <label for="slideThree"></label>
                    </div>
                    <img ng-if="!viewImageType" style="width: 100%" src="/cbi.if.ua/images/spec-1.jpg">
                    <img ng-if="viewImageType" style="width: 100%" src="http://rocketad.co/images/back.jpg">

                    <p>Галузь знань: 0501 "Інформатика та обчислювальна техніка"</p>
                    <p>У зв’язку з різким збільшенням об'єму інформації зростає й потреба в опрацюванні, збереженні та її передачі. Значне полегшення і пришвидшення обробки інформації настало після створення комп'ютерних мереж. Проте при зростанні застосування комп'ютерних мереж зростає й потреба в спеціалістах, які здатні проводити технічне і програмне обслуговування таких систем та мереж. Саме такими спеціалістами і є випускники спеціальності "Обслуговування комп’ютерних систем і мереж".</p>

                    <p>Спеціальність забезпечує підготовку студентів в області обчислювальної техніки, створення, супроводу і експлуатації обчислювальних машин, комплексів, систем і мереж Ethernet, ATM, IP-MPLS, Frame Relay, як апаратних, так і програмних засобів і технологій.</p>

                    <p>Відповідно до своєї фундаментальної і спеціальної підготовки дані фахівці можуть займати посади:</p>
                    <ul>
                        <li>технік-програміст;</li>
                        <li>оператор інформаційно-комунікаційних мереж;</li>
                        <li>фахівець з інформаційних технологій;</li>
                        <li>фахівець з розробки та тестування програмного забезпечення;</li>
                        <li>фахівець з розроблення комп'ютерних програм;</li>
                        <li>адміністратор з комп'ютерних мереж та систем;</li>
                        <li>інженер з комп'ютерних мереж та систем;</li>
                        <li>інженер з програмного забезпечення комп'ютерів;</li>
                        <li>конструктор комп'ютерних систем та мереж;</li>
                        <li>технічні фахівці в галузі обчислювальної техніки;</li>
                        <li>технічні фахівці в галузі прикладних наук та техніки.</li>
                    </ul><br>
                    <p>Основні місця роботи, де можна працювати після закінчення навчання:</p>
                    <ul>
                        <li>банківські установи;</li>
                        <li>відділ обробки інформації підприємств різних форм власності;</li>
                        <li>фірми, які займаються розробкою прикладного та програмного забезпечення;</li>
                        <li>фірми, що є провайдерами послуг Internet;</li>
                        <li>фірми, що надають послуги кабельного та супутникового телебачення;</li>
                        <li>наукові інститути і установи.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>