<cyclic-navbar></cyclic-navbar>
<div class="comm-main">
    <h4>Циклова комісія дисциплін професійно-практичної підготовки з туристичного обслуговування</h4><br>

    <p>Головним завданням циклової комісії є забезпечення професійної та практичної підготовки фахівців зі спеціальності «Туристичне обслуговування» за освітньо-кваліфікаційним рівнем молодший спеціаліст.</p>

    <p>метою навчальної та наукової діяльності циклу з туристичного обслуговування є формування нової освіченої та висококультурної генерації кваліфікованих фахівців туристичної галузі, що є невід’ємною складовою загального освітньо-навчального процесу. </p>

    <p>Основні напрямки роботи циклової комісії:</p>
    <ul style="width: 100%;" class="acitem nav navbar-nav">
        <li>туристично-ресурсний потенціал України: створення нового іміджу туристичного продукту і держави в цілому;</li><br>
        <li>презентація історико-культурної спадщини України як напрямок екскурсійної діяльності; </li><br>
        <li>застосування інформаційних технологій у сфері туризму і гостинності; </li><br>
        <li>нові напрями мовної підготовки в туристичній освіті; </li><br>
        <li>маркетингові дослідження туристичного ринку у світі; </li><br>
    </ul>

    <p>Голова комісії:</p>
    <p>Савич О.І. – викладач вищої категорії.</p>

    <p>Члени комісії:</p>
    <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
        <li>Ковтун М.І. - викладач;</li><br>
        <li>Сабат М.М. - викладач;</li><br>
        <li>Яцюк М.В. - старший викладач;</li><br>
        <li>Горішевський П.А. - викладач вищої категорії;</li><br>
        <li>Гаранжа А.І. - старший викладач;</li><br>
        <li>Данильців Я.Р. - старший викладач.</li><br>
    </ul>
</div>