<selec-navbar></selec-navbar>
<div class="comm-main">
    <h4>Вступні випробування</h4><br>

    <p>Прийом документів до Коледжу бізнесу та інформатики проводиться</p>
    <p>з 01 липня по 19 липня 2014 року</p>

    <p>До приймальної комісії абітурієнти повинні подати такі документи:</p>
    <ul style="width: 100%;">
        <li>заяву встановленого взірця;</li><br>
        <li>6 фотокарток розміром 3Х4;</li><br>
        <li>папку на зав'язках;</li><br>
        <li>документ про освіту;</li><br>
        <li>копію свідоцтва про народження/паспорта;</li><br>
        <li>Копію ідентифікаційного коду;</li><br>
        <li>медичну довідку (форма 086-У);</li><br>
        <li>копію поспорта платника;</li><br>
        <li>копію ідентифікаційного коду платника;</li><br>
    </ul>

    <p>Вступні екзамени (випробування) проводитимуться</p>
    <p>з 21 липня по 31 липня 2014 року</p>

    <p>Зарахування абітурієнтів проводиться за результатами вступних екзаменів (випробувань) з наступних дисциплін:</p>

    <table class="table-1">
        <thead>
            <td>Спеціальності:</td>
            <td>Вступні випобування:</td>
        </thead>
        <tbody>
            <tr>
                <td>Обслуговування комп'ютерних систем та мереж</td>
                <td><p>Українська мова (диктант)</p><p>Математика (усно)</p></td>
            </tr>
            <tr>
                <td>Розробка програмного забезпечення</td>
                <td><p>Українська мова (диктант)</p><p>Математика (усно)</p></td>
            </tr>
            <tr>
                <td>Туристичне обслуговування</td>
                <td><p>Українська мова (диктант)</p><p>Географія (усно)</p></td>
            </tr>
            <tr>
                <td>Маркетингова діяльність</td>
                <td><p>Українська мова (диктант)</p><p>Математика (усно)</p></td>
            </tr>
            <tr>
                <td>Фінанси і кредит</td>
                <td><p>Українська мова (диктант)</p><p>Математика (усно)</p></td>
            </tr>
        </tbody>
    </table>


</div>