<div style="width: 20%; position: fixed; margin-top: 5%">
    <nav class="navbar navbar-default" role="navigation" style="width: 100%;">
        <div class="navbar-header" style="width: 100%;">
            <ul style="list-style-type: none;width: 100%;" class="acitem nav navbar-nav">
                <li ng-repeat="item in manuItems" ng-class="{'is-active': isActive(item.href)}" class="li-navbar-width">
                    <a ng-href="/cbi.if.ua/{{item.href}}" class="smoothScroll smoothScrollRight">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>